<html>
<head></head>
<body>
    <h2>Groceries</h2>

    <form action="/entergroceries" method="post">

            <label>Enter Grocery Category:</label>
            <input type="text" name="groceryCategory"/><br/></br>
            <label>Enter Grocery Item:</label>
            <input type="text" name="groceryItem"/><br/></br>
            <label>Quantity:</label>
            <input type="text" name="quantity"/><br/></br>
            <label>Price:</label>
            <input type="text" name="price"/><br/></br>
            <input type="submit" name="btnAdd" value="Add"/>
    
        </form>
        
       
</body>