
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
    <div>
        
        <div>
            <form action='/shoplists' method ='post'>
                <input type="submit" name = 'btnShopName' id = "btnShopName" value ="View Shopping List">
            </form>
        </div>
        <div>
            <form action='/groceryitems' method ='post'>
                <input type="submit" name = 'btnGroceryItems' id = "btnGroceryItems" value ="View Grocery Items">
            </form>
        </div>
    </div>

    </body>
</html>